<header>
  <nav class="navbar navbar-expand-lg" style="background-color: #e3f2fd">
    <div class="container-fluid">
      <a class="navbar-brand h1" href="/dashboard">
        <i class="fa-solid fa-code"></i> Placement Cell</a
      >
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="collapse navbar-collapse justify-content-center"
        id="navbarSupportedContent"
      >
        <% if (locals.user) {%>

        <ul class="nav">
          <li class="nav-item mx-5">
            <a
              class="nav-link active"
              aria-current="page"
              href="/student/add-student"
              >Add new Student</a
            >
          </li>
          <li class="nav-item mx-5">
            <a class="nav-link" href="/interview/add-interview"
              >Schedule an Interview</a
            >
          </li>
          <li class="nav-item mx-5">
            <a class="nav-link" href="#">Download data</a>
          </li>
          <li class="nav-item mx-5">
            <a class="nav-link" href="/profile"><%= user.username %></a>
          </li>
          <li class="nav-item mx-5">
            <a class="nav-link" href="/sign-out">Sign Out</a>
          </li>
          <li class="nav-item mx-5"></li>
        </ul>

        <!-- <button type="button" class="btn btn-outline-primary ms-2">
        </button>
        <button type="button" class="btn btn-outline-success ms-2">
        </button> -->

        <%} else{ %> <%} %>
      </div>
    </div>
  </nav>
</header>
