<div class="container mt-4 col-md-4">
  <h1>Sign Up</h1>
  <form
    action="/create"
    method="POST"
    class="mt-2 border border-dark rounded p-3"
    style="--bs-border-opacity: 0.5"
  >
    <div class="mb-3">
      <label for="username" class="form-label">username</label>
      <input
        type="text"
        class="form-control"
        id="username"
        name="username"
        required
      />
    </div>
    <div class="mb-3">
      <label for="email" class="form-label">Email address</label>
      <input
        type="email"
        class="form-control"
        id="email"
        aria-describedby="emailHelp"
        name="email"
        required
      />
      <div id="emailHelp" class="form-text">
        We'll never share your email with anyone else.
      </div>
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input
        type="password"
        class="form-control"
        id="password"
        name="password"
        required
      />
    </div>
    <div class="mb-3">
      <label for="confirm_password" class="form-label">Confirm Password</label>
      <input
        type="password"
        class="form-control"
        id="confirm_password"
        name="confirm_password"
        required
      />
    </div>

    <button type="submit" class="btn btn-primary">Sign Up</button>
  </form>

  <p class="mt-4"><a href="/">Already have an account?</a></p>
</div>
